:root {
  --blue: #15a9b4;
  --blue2: #11858e;
}
a {
  color: var(--blue);
}
a:hover {
  color: var(--blue);
}
.btn-primary {
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
}
.btn-primary:hover {
  background-color: var(--blue2) !important;
  border-color: var(--blue2) !important;
}
.btn-outline-primary {
  border-color: var(--blue) !important;
}
.btn-outline-primary:hover {
  border-color: var(--blue2) !important;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  position: fixed;
  overflow: hidden;
}
.h-100 {
  height: 100%;
}
.App {
  height: 100%;
  min-height: 100vh;
  text-align: center;
}
.wrapper {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.Login {
  max-width: 400px;
  margin: 0 auto;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #ffffff;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  color: var(--blue);
}
.wrap {
  max-width: 800px;
  padding: 20px 40px;
  border-radius: 2em;
  margin: 0 auto;
  border: 1px solid #333;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav {
  padding: 10px;
}
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 3em;
  height: 3em;
  padding: 10px;
  border-radius: 50%;
  background: var(--blue);
  color: white;
}

.card-deck {
  top: 0;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deck > div {
  background-color: white;
  border: 1px solid #aaa;
  padding: 30px;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  max-height: 570px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
    0 10px 10px -10px rgba(50, 50, 73, 0.3);
}

@media (min-width: 768px) {
  .Receipts .card-deck .deck {
    width: 450px;
  }
}

.deck {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menumenu {
  z-index: 1;
  color: #333;
  position: absolute;
  left: 0;
  top: 110%;
  padding: 10px;
  text-align: left;
  box-shadow: 0 0 5px #33333344;
}
.menumenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.alert {
  box-shadow: 0 0 5px #33333344;
  background: white;
  padding: 20px 50px;
  transition: opacity 0.3s ease;
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.hidden {
  opacity: 0;
}

.deck:active {
  cursor: -webkit-grabbing;
}
.slider > div{
  display: inline-flex;
  align-items: center;
  border: 2px solid var(--blue);
  border-radius: 2em;
}
.slider button {
  color: var(--blue);
  background-color: transparent;
  border: 0 none;
  padding: 5px;
}
